.container{
    margin-top: 50px;
    padding: 10px;
    border: 1px solid;
    border-color: rgb(248, 248, 248);
    border-radius: 5px;
    background-color: rgb(248, 248, 248);
}
h1{
    padding: 10px;
    text-align: center;
}
img{
    width: 100%;
}
#box{
    min-height: 100px;
    text-align: justify;
    background-color: rgb(238, 238, 238);
}
.radiogroup{
    margin-right: auto;
    margin-left: auto; 
    width: 225px;
    margin-top:20px;
}
button{
    width:100%;
    height:50px
}